html {
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
   
}



h1 {
    font-weight: 700;
    color:  hsl(234, 29%, 20%);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: -8px;
}

#img {
    flex-shrink: 0;
    width: 100%;
    height: 45%;
    border-radius: 0px  0px 25px 25px;
    box-sizing: border-box;
    background-image: url('./assets/images/illustration-sign-up-mobile.svg');
    background-size: cover;
}

#btm {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 5%;
}

#form {
    /* border: 4px solid green; */
    /* display: contents; */
    box-sizing: border-box;
}

#header {
    /* border: 4px solid green; */
    /* display: contents; */
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 25%;
    padding: 3%;
    box-sizing: border-box;
    margin: -8px 0% 3% 0%;
}



#btn {
    background-color: hsl(235, 18%, 26%);
    height: 45px;
    margin: 3% 0% 3% 0%;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}


li {
    list-style-image: -webkit-image-set('./assets/images/icon-list.svg');
    margin-bottom: .5vh;
}

ul {
    line-height: 150%;
    font-size: 1.2rem;
    padding-inline-start: 20px;
}



#lst {
    position: relative;
    top: -0.5vh;
}

#warningtext, #emailtext {
    display: inline-block;
}

#warningtext {
    /* margin-left: 12vw; */
    font-size: .8rem;
    position: relative;
    right: -33vw;
    text-align-last: right;
    color:  hsl(4, 100%, 67%);
    visibility: hidden;
}

#emailtext {
    font-size: 1.3rem;
}

#p {
    margin-bottom: 3vh;
    font-size: 1.3rem;
}




/* ul .elementor */



@media (min-width: 376px) {

    body {
        background-color: hsl(235, 18%, 26%);
    }
    
    .main {
        background-color: white;
        flex-direction: row-reverse;
        margin: 20vh 20vw 15vh 23vw;
        width: 50vw;
        height: 60vh;
        padding: 10px;
        padding-left: 20px;
        border-radius: 10px;
        
    }

    #img {
        background-image: url('./assets/images/illustration-sign-up-desktop.svg');
        width: 45%;
        height: 100%;
        border-radius: 8px;
        }

    #btm {
        width: 55%;
        height: 100%;
        padding: 0% 1% 1% 1%;
        overflow-y: auto;
        overflow-x: hidden;
        /* scrollbar-3dlight-color: greenyellow; */
    }

    #btm p {
        font-size: .8rem;
    }

    ul{
        font-size: .8rem;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #btm input {
        margin-bottom: 0%
    }

    ::-webkit-scrollbar {
        width: 4px;
      }
       
      /* Handle */
    ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 16px;
    
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: rgb(82, 82, 82); 
    }

    #warningtext {
        /* margin-left: 12vw; */
        position: relative;
        right: -12vw;

}

